
body {
    font: 10px sans-serif;
    padding:0;
    margin:0 auto;
    text-align:center;''
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.area {
    fill: steelblue;
    clip-path: url(#clip);
}


.overlay {
    fill: none;
    pointer-events: all;
}

.brush .extent {
    stroke: black;
    fill: blue;
    fill-opacity: .6;
    shape-rendering: crispEdges;
}



.focus circle {
    fill: none;
    stroke: steelblue;
}